html,
body,
#site-wrap,
#app {
  -webkit-print-color-adjust: exact;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 960px) {
  html {
    overflow: hidden;
  }
}

.wg-app {
  position: relative;
  width: 100%;
  // font-family: 'Zen Dots'; Uncomment this line to change the custom fongs "Change 'Zen Dots' to your font name
}
.wg-app-embedded {
  width: 100%;
  height: 100%;
  border: 2px solid grey;
}

.wg-app-logo {
  left: 8px;
  bottom: 50px;
}

.wg-measurewin {
  left: auto !important;
  top: auto !important;
  right: 10px;
  bottom: 4.8em;
}

.wg-layerlist {
  left: auto !important;
  top: 75px !important;
  right: 10px;
}

.wg-footer-left {
  padding-left: 5px;
}
.wg-footer-right {
  padding-right: 5px;
}
.wg-footer-left a,
.wg-footer-right a {
  color: inherit;
}

.wg-win-title {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /* Introduced in IE 10, See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

/*Popup overlay Styling */
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.logo {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.icon-border {
  display: inline-block;
  border-radius: 27px;
  box-shadow: 0px 0px 2px #888;
  border: 1px solid #888;
  padding: 2px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.square {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.edit-tooltip {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  position: relative;
  background-color: rgba(140, 140, 140, 0.9);
  border-radius: 4px;
  color: white;
  padding: 2px 8px;
  font-size: 12px;
}

/*
 CSS for the expansion panel
*/

.ep-accordion {
  margin-bottom: 1em;
  max-width: 100%;
}

.ep-accordion p:last-child {
  margin-bottom: 0;
}

.ep-accordion > input[type='checkbox'] {
  position: absolute;
  left: -100vw;
}

.ep-accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 3.3s ease;
}

.ep-accordion > input[type='checkbox']:checked ~ .content {
  height: auto;
  overflow: visible;
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-top: 0;
}

.ep-accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.ep-accordion label {
  display: block;
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #e8e8e8;
}

.ep-accordion label:hover,
.ep-accordion label:focus {
  background: #d8d8d8;
}

.ep-accordion .handle label:before {
  font-family: 'fontawesome';
  content: '\f054';
  display: inline-block;
  margin-right: 10px;
  font-size: 0.58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.ep-accordion > input[type='checkbox']:checked ~ .handle label:before {
  content: '\f078';
}

// MOBILE STYLING
.mobile-parent-wrap {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.mobile-bottom-sheet {
  position: absolute;
  top: 60%;
  width: 100%;
  left: 0px;
  height: unset;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 10%) 0px -4px 3px;
  z-index: 15;
}

.mobile-map-viewer {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 60px;
}

.close-btn-mobile-panel {
  position: absolute;
  top: -40px;
  left: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
  font-size: 16px;
  color: rgb(255, 94, 153);
  box-shadow: rgb(0 0 0 / 10%) 4px -4px 3px;
  padding: 10px 16px;
}
